{{#each question.answers as |answer|}}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">{{answer.user}}</h4>
    </div>
    <div class="panel-body">
        {{answer.content}}
        <br>
        <p>Posted on {{answer.date_added}}</p>
        <br>
        {{edit-answer answer=answer editAnswer="editAnswer"}}
    </div>
  </div>
{{/each}}
