<div class="container">
<header class = "jumbotron">
<h2 id="title">Q &amp; A Message Board</h2>


<nav>
  <span class="btn btn-primary">{{#link-to 'index'}} Home {{/link-to}}</span>
  <span class="btn btn-success">{{#link-to 'about'}} About {{/link-to}}</span>
</nav>

</header>

  {{outlet}}
</div>
