<ul class="list-group">
  <li class="list-group-item list-group-item-info"><h3>Questions</h3></li>
  {{#each model.questions as |question|}}
    <li class="list-group-item">{{#link-to 'question' question.id}}{{question.subject}} &emsp; &emsp; by {{question.user}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion" question=model}}
