<h2>Questions</h2>

<ul class="list-group">
  {{#each model.questions as |question|}}
    <li class="list-group-item">{{#link-to 'question' question.id}}{{question.subject}} - by {{question.author}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion" question=model}}
